* {
    margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
        background-color: rgb(43, 226, 58);
        width: 100%;
        }



footer {
        text-align: center;
        background-color: chocolate;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 25px;
}

main{
        width: 100%;
}
h6    {
        margin: 5px 0 0 0;
}

img     {
        display: block;
        margin: auto;

}

h1, nav
{
    display: inline-block;
}

nav{
        padding-top: 10px;
        float: right;
        padding-right: 25px;
}

 .navigation
 {
                display: inline;
                text-align: right;
                position: relative;
                right: 10px;
                margin: 0 10px;
                color: black;
 }

#main-content 

        {
        margin-bottom: 300px;
        }

#contactform
        {
            display: flex;
            justify-content: center;
        }

.contacttitle

        {
        text-align: Center;
        }

.forminput

        {
        display: table;
        }

.email  

        {
        position: absolute;
        right: 100px;
        }

        p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

button { position: relative;
    align-content: center;
    left: 125px;
    top: 25px;
}

.Image-heading

{
    text-align: center;
}

#form   {

    background-color: darkolivegreen;
    height: 150px;
    position: relative;
    bottom: 25px;
    width: 100%;

}